
.nav-tabs {
    font-weight: bold;
    .nav-link.active {
        background-color: #f8f8f8;
    }
}

div .o_cp_buttons {
    .btn[type=button] {
        font-variant: small-caps;
    }
}

div .o_statusbar_buttons {
    .btn[type=button] {
        font-variant: small-caps;
    }
}

.table-striped > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
