.o_form_view {

    @media (min-width: 768px) {

        // Avatar
        .oe_avatar {
            float: right;

            >img {
                // Medium size is 128x128
                max-height: 128px;
                max-width: 128px;
                box-shadow: none;
                border: 1px #ccc solid;
            }

            +.oe_title {
                padding-left: revert;
            }
        }
    }

    .oe_button_box {

        float: none;
        width: revert;

        // Revert oca/web/web_responsive/static/src/css/web_responsive.scss
        @media (max-width: 767.98px) {
            max-width: revert;
        }

        margin-left: -17px;
        margin-right: -16px;
        margin-top: -17px;
        margin-bottom: 12px;

        //box-shadow: 0 5px 5px #00000012;
        border-bottom: 1px #ccc solid;

        .oe_stat_button {

            border: none;
            margin: 0px;
            outline-color: #ccc;
            outline-width: 1px;
            outline-style: solid;

            .o_button_icon {
                color: $brand-secondary;
                font-size: 19px;
            }

            .o_stat_info,
            >span {

                color: $brand-secondary;
                font-size: smaller;
                font-weight: 500;

                >.o_stat_value {
                    color: $brand-secondary;
                }

                >.o_stat_text,
                .o_stat_text {
                    font-size: revert;
                }
            }
        }

    }

    .oe_chatter {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.o_content {
    .o_form_view {
        .oe_button_box {
            .oe_stat_button {
                width: 50% !important;

                // 576
                @include media-breakpoint-up(sm) {
                    width: 33.3% !important;
                }

                // 768
                @include media-breakpoint-up(md) {
                    width: 20% !important;
                }

                // 992
                @include media-breakpoint-up(lg) {
                    width: 14.28571429% !important;
                }

                // 1200
                @include media-breakpoint-up(xl) {
                    width: 12.5% !important;
                }

            }
        }
    }
}

// Do not use media for modal content
.modal-content {
    .o_form_view {
        .oe_button_box {
            .oe_stat_button {
                width: 20% !important;
            }
        }
    }
}