.o_list_view .text-danger {
    color: #f62e41 !important;
}

.o_list_view .text-info {
    color: #0064ff !important;
}

.o_list_view .text-muted {
    color: #6c757d !important;
}

.o_list_view .text-primary {
    color: #f60edc !important;
}

.o_list_view .text-success {
    color: #008f21 !important;
}

.o_list_view .text-warning {
    color: #e16e09 !important;
}

.o_list_view {

    .o_list_record_selector {
        padding-left: 16px;
        width: 1px;  // to prevent the column to expand
    }

}