// Normal views
.o_content,
.modal-content {

    // Form views
    .o_form_view {

        .o_form_sheet {

            .oe_button_box {
                .o_dropdown_more {
                    // Unset to maximize button width
                    width: unset;
                }
            }
        }
    }
}

// Support for long titles
@include media-breakpoint-up(md) {

    .o_form_view .oe_button_box+.oe_title,
    .o_form_view .oe_button_box+.oe_avatar+.oe_title {
        width: calc(100% - 150px);
    }
}

.table-responsive .o_list_view thead tr:nth-child(1) th {
    background-color: #fbfbfb;
}